:root {
  /* Apple system colors (default light) */
  --apple-red: rgb(255, 59, 48);
  --apple-orange: rgb(255, 149, 0);
  --apple-yellow: rgb(255, 204, 0);
  --apple-green: rgb(52, 199, 89);
  --apple-mint: rgb(0, 199, 190);
  --apple-teal: rgb(48, 176, 199);
  --apple-cyan: rgb(50, 173, 230);
  --apple-blue: rgb(0, 122, 255);
  --apple-indigo: rgb(88, 86, 214);
  --apple-purple: rgb(175, 82, 222);
  --apple-pink: rgb(255, 45, 85);

  --apple-gray: rgb(142, 142, 147);
  --apple-gray2: rgb(174, 174, 178);
  --apple-gray3: rgb(199, 199, 204);
  --apple-gray4: rgb(209, 209, 214);
  --apple-gray5: rgb(229, 229, 234);
  --apple-gray6: rgb(242, 242, 247);
}

:root.dark {
  /* Apple system colors (default dark) */
  --apple-red: rgb(255, 69, 58);
  --apple-orange: rgb(255, 159, 10);
  --apple-yellow: rgb(255, 214, 10);
  --apple-green: rgb(48, 209, 88);
  --apple-mint: rgb(102, 212, 207);
  --apple-teal: rgb(64, 200, 224);
  --apple-cyan: rgb(100, 210, 255);
  --apple-blue: rgb(10, 132, 255);
  --apple-indigo: rgb(94, 92, 230);
  --apple-purple: rgb(191, 90, 242);
  --apple-pink: rgb(255, 55, 95);

  --apple-gray: rgb(142, 142, 147);
  --apple-gray2: rgb(99, 99, 102);
  --apple-gray3: rgb(72, 72, 74);
  --apple-gray4: rgb(58, 58, 60);
  --apple-gray5: rgb(44, 44, 46);
  --apple-gray6: rgb(28, 28, 30);
}
